* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 3% 8%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 90%;
    margin-top: 50px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
    transition: 0.3s ease;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
 
.display img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    transition: 0.3s ease;
}

.container button img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s ease;
}

@media (max-width: 440px) {
    .display {
        width: 100%;
    }
    .display input {
        font-size: 15px;
    }
    .display img {
        width: 18px;
    }

    .container h1 {
        font-size: 30px;
    }
    .container button {
        font-size: 18px;
    }

    .container button img {
        width: 20px;
    }
}